language: java
sudo: false
install: true
addons:
  sonarqube:
    token: 
      secure: "hDoX6xSerVty7L+heG3VwiUt+JfoI5kg+gv0kKAAzD4LFGffloCJ5Uff1XRNtqiNCtUjnrzIbLKM7zrlMji2OZ3/M3EHQ4g/m//5hQZU5a3iiidQWeRG4QmgiFsAoFzC05fUUxXG1uvdkdSTUL1zA2KD6x4RPhH+AFh3roa2Lo+E6k5LojY2tu/eAN8Mf9O+NJS6yxVsRKLPWcODXyq1F3ThV5av6TPh396c1HzZ0yG78z3iIB20xYhYx5rE8bLH5AvpEo77yuPRphB0azuCG+GBXNi1GffH7dVBCY1e92JegM2AO6ls46q+HuQE8oTw4av2hj4drys/8V+AHVmuIhMFd9+jIlPXSc9ofoq1mY6fxtoBRW+4Rup1XkcFUSElQxTrvCidpTrybBZx8DsbEjnp6UHOVS9mOoX/AskO69wZhY3TlDJI3eGBhOdV0dk1+JnsbUoLr+0P0wALEO8PeaXDVBRjDG7m/ZTRE5Le5rAhoFD5YBQ2jB+/ljfViC6uD/KArggTNLKPCaPUR7D9scW6K1r0L+KkqfvGknncVyCiqN9A0S/Csgj3sv5qn+Rni8AiBchuQYcCnLn0S4M2Qkg2SE65RTHPYivwPBT5yTYvaQd7YwaQiXy3X8ywklJdS+fa6L+VlhoDGcYtrkYoIGJdKMlq0IX3skNpMUOIWzU="

jdk:
  - oraclejdk8

script:
  - echo $SONARQUBE_SCANNER_PARAMS
  - sonar-scanner

cache:
  directories:
    - '$HOME/.sonar/cache'

notifications:
  email: false
